* {
  margin: 0;
  padding: 0;
  /* border:1px blue dotted; */
}

a {
  text-decoration: none;
  color:rgb(25, 136, 225);
}

body {
  background-color: #ffb42a;
  padding: 8px;
  font-family: 'Merriweather', serif;
}

h1 {
  display: inline;
  vertical-align: top;
  font-size: 35px;
  margin-left: 15px;
  color:rgb(25, 136, 225);
  font-family: 'Roboto', sans-serif;

}

h2{
  width: fit-content;
  display: block;
  font-size: 1em;
  letter-spacing: .1pc;
  color:white;
  margin:3px;
  }

.logo {
  width: 20%;
  border-radius: 0px 0px 8px 0px;
  margin: 0px;
}

#search-ingredients {
  width: 70%;
  margin: 2px;
  border: 1px lightgrey solid;
  border-radius: 3px;
}

.search-btn {
  width: fit-content;
  border: 1px grey solid;
  border-radius: 3px;
}

#instructions{
  padding:8px;
  color:white;
  background-color:none;
  border:2px solid white;
  border-radius:3px;
  margin:5px 1px;
  font-size: 1em;
  font-weight:bold;
  letter-spacing: .1pc;
}

li{
  list-style:none;
}

.recipe-li {
  background-color: white;
  list-style: none;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 3px;
  height: 85px;
}

.thumbnail-img {
  border-radius: 3px;
  width: 25%;
  height: 98%;
  border: 1px solid lightgrey;
}

.recipe-title-div {
  display: inline-block;
  width: 73%;
  height: 80px;
  position: relative;
  bottom: 64px;
}

.recipe-title {
  font-size: 18px;
  position: relative;
  top: 35px;
  margin:3px 0px 3px 3px;
}

.chosenRecipe-div {
  margin: 3px;
  background-color: white;
  border-radius: 3px;
  padding-bottom:5px;
}

.chosen-recipe-h2 {
  margin-left: 55px;
}

.chosen-img {
  border: solid 1px lightgrey;
  display: block;
  border-radius: 3px;
  width: 80%;
  max-width: 400px;
  max-height: 300px;
  margin-right: auto;
  margin-left: auto;
}

figcaption{
  margin:5px 2px 1px 10px;
}

.btn{
  background-color: rgb(25, 136, 225);
  color:white;
  border:none;
  width:fit-content;
  margin:3px;
  padding:2px 3px;
  border-radius: 3px;
}

.print-recipe-btn,
.directons-btn{
  display: inline-block;
  width:135px;
  padding: 4px 5px 2px 5px;
  margin-left:35px;
}

.ingredients-li {
  margin: 2px 4px;
}

.hidden {
  display: none;
}